.parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #E7E2E2;
}

.icon {
    /* margin: auto 5% auto auto; */
    /* margin-top: 25px; */
    margin-left: 80%;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 5px;
    font-size: 30px;
}

.accordion {

    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.thanks {
    text-align: center;
    padding: 25% 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 58px;
}

body {
    background-color: #E7E2E2;
}

#upTile {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#text {
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 58px;
}
#desc {
    color: #444;
    position: relative;
    font-size: 15px;
}

#search {
    align-self: center;
    padding: 4px 4px;
    height: 36px;
    background: #FAFAFA;
    border-radius: 8px;
    border: hidden;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
}

#btnTile {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#btnQuiz {
    background-color: white;
    width: 80%;
    height: 80px;
    display: flex;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    box-shadow: 2px 5px 4px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    color: #000
}

#btnQuiz:hover {
    background: coral;
    color: white;
    height: 81px;
    width: 81%;
    transition: .2s;
}

#btnQuiz:active {
    background: white;
    color: black;
    height: 80px;
    width: 80%;
    transition: .2s;
}

.btnQuizComponents {
    width: 100%;
    height: 50px;
    /* color: white */
}

#btnQuizDis {
    background-color: rgb(201, 201, 201);
    width: 80%;
    height: 80px;
    display: flex;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    box-shadow: 2px 5px 4px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    color: #000
}

#btnQuizDis:hover {
    background: rgb(235, 96, 96);
    color: white;
    height: 81px;
    width: 81%;
    transition: .2s;
}

/* #btnQuizDis:active {
    background: white;
    color: black;
    height: 80px;
    width: 80%;
    transition: .2s;
} */

#titleTiles {
    /* font-weight: 500;  */
     /* margin: auto 0;  */
     /* margin-top: 5%; */
     /* margin-bottom: 5%;
     margin-right: 10%; */
}


#btnBack {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}


#btnBack::before,
#btnBack::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: coral;
}

#btnBack::before {
    transform: rotate(45deg);
}

#btnBack::after {
    transform: rotate(-45deg);
}

#DownPagination {
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #547272;
    /* float: left; */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
}

.pagination a.active {
    background-color: #547272;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}




#quizTile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#createQuizTile {
    width: 100%;
    height: 80px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    display: inline-grid;
    align-items: center;
    justify-content: space-evenly;
}

#createQuizTile1 {
    width: 100%;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    border: none;
    display: inline-grid;
    text-align: left;
    margin-bottom: 20px;
    width: 65%;
}

#quizText {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    color: #547272;
    margin-bottom: 10px;
}

#descriptionArea {
    align-self: center;
    background: rgb(250, 250, 250);
    border-radius: 8px;
    border: hidden;
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 285px; */
    height: 105px;
    /* width: 50%; */
}

#select {
    align-self: center;
    background: rgb(250, 250, 250);
    border-radius: 8px;
    border: hidden;
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
    /* width: 285px; */
    height: 42px;
    width: 100%;
}

#downTile {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#btnPlay {
    margin-left: 75px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 22px;
    margin-right: 5%;
    margin-bottom: 3%;
    width: 25%;
    height: 50px;
    align-items: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
}